<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <meta name="domain" content="willmendesneto.github.io" />
    <meta name="url" content="{{ page.url || '' | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ page.url || '' | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" />
    <meta property="og:description" content="{{page.description || page.content }}" />
    <meta property="article:author" content="{{ site.website_author }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{ page.image || site.image }}" />
    <meta name="twitter:site" content="@{{ site.twitter_username }}" />
    <meta name="twitter:image" content="{{ page.image || site.image }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="autor" content="{{ site.author }}" />
    <meta name="reply-to" content="{{ site.email }}">
    <meta name="revisit-after" content="3" />
    <meta name="title" content="{{ site.title }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.website_keywords }}" />
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Pesquisa no Blog Willmendesneto" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800" rel="stylesheet" type="text/css">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url || '' | prepend: site.baseurl  | replace: '//', '/' | replace: 'index.html', '' }} ">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">

</head>
