<section class="newsletter-content">
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=willmendesneto', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true;" >
        <h3 class="newsletter-title">Receive news by email</h3>
        <p class="newsletter-text">Subscribe to my newsletter to receive notifications of new articles in your e- mail</p>
        <input class="input-newsletter" type="email" name="email" placeholder="email"/>
        <input type="hidden" value="willmendesneto" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input class="btn btn-newsletter" type="submit" value="Subscribe" />
    </form>
</section>
