---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // BACKGROUND COLOR NEEDS TO BE ADDED
  // IF NOT, FIREFOX WON'T APPLY THE FILTER PROPERLY
  // WHEN CALLED
  background: #fff;
  height: 100%;

  &.dark-mode {
    filter: invert(100%);

    img {
      filter: invert(100%);
    }
  }

  &:not(.light-mode) {
    // Detect if the user has requested the system
    // use a light or dark color theme.
    // More details about `prefers-color-scheme` in https://web.dev/prefers-color-scheme/
    @media (prefers-color-scheme: "dark") {
      filter: invert(100%) !important;

      img {
        filter: invert(100%) !important;
        border: 1px solid #fafafa;
      }
    }
  }
}

body {
  font-family: "Quicksand", sans-serif;
  background: #fff;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

body > div {
  max-width: 408px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

img {
  width: 40%;
  float: right;
  border: 1px solid #666;
  border-radius: 50%;
  margin: 15px 0 10px 10px;
  box-shadow: 0 1px 4px;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}

a {
  color: #000;

  & img {
    text-decoration: none;
  }
}

p {
  a {
    text-decoration: underline;

    &:hover {
      color: #009999;
    }
  }
}

dt {
  width: 25%;
  margin-bottom: 10px;
}

dd,
dt {
  display: inline-block;
}

dd {
  width: 70%;
}

dt.space {
  margin-top: 0.6rem;
}

ul {
  list-style: none;
  margin-bottom: 2em;

  li {
    margin-bottom: 0.75em;
  }
}

em {
  font-style: normal;
  text-decoration: underline;
}

.github-corner {
  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner {
    &:hover {
      .octo-arm {
        animation: none;
      }
    }

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }

  body > div {
    max-width: 640px;
  }

  img {
    width: 30%;
    margin: 5px;
  }
}

// TOGGLE
.switch-toggle {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  margin-top: 20px;
  min-height: 50px;

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: #bada55;
    display: block;
    border-radius: 50px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    transition: 0.3s;
  }

  input:checked + .active {
    background: #bada55;
  }

  input:checked + .active:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:after {
    width: 65px;
  }
}
// TOGGLE

@media print {
  .github-corner,
  .switch-toggle {
    display: none;
  }
  a {
    color: #009999;
  }
}
