---
---

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Quicksand,sans-serif;
  background: #fff;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

body > div {
  max-width: 408px;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

img {
  width: 40%;
  float: right;
  border: 1px solid #666;
  border-radius: 50%;
  margin: 15px 0 10px 10px;
  box-shadow: 0 1px 4px;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: .5em;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #000;
  
  & img {
    text-decoration: none;
  }
}

p {
  a {
    text-decoration: underline;

    &:hover {
      color: #009999;
    }
  }
}

dt {
  width: 25%;
  margin-bottom: 10px;
}

dd, dt {
  display: inline-block;
}

dd {
  width: 70%;
}

dt.space {
  margin-top: .6rem;
}

ul {
  list-style: none;
  margin-bottom: 2em;

  li {
    margin-bottom: .75em;
  }
}


em {
  font-style: normal;
  text-decoration: underline;
}

.github-corner {
  &:hover{
    .octo-arm{
      animation:octocat-wave 560ms ease-in-out;
    }
  }
}

@keyframes octocat-wave{
  0%,
  100%{
    transform:rotate(0)
  }

  20%,
  60%{
    transform:rotate(-25deg)
  }

  40%,
  80%{
    transform:rotate(10deg)
  }
}

@media (max-width:500px){
  .github-corner{

    &:hover {
      .octo-arm{
        animation:none;
      }
    }

    .octo-arm{
      animation:octocat-wave 560ms ease-in-out;
    }
  }
}

@media (min-width:800px){
  body {
    font-size: 18px;
  }

  body>div {
    max-width: 640px;
  }

  img {
    width: 30%;
    margin: 5px;
  }
}
